# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!xcschemes
!xcshareddata
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*~.nib
Build/
DerivedData/
xcuserdata

# OS X noise
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.lock

# AppCode files
.idea/

# fastlane
fastlane/*.xml

# CocoaPods files 
Pods/
Podfile.lock
